apiVersion: v1 
kind: Pod
metadata:
  name: pod-config-envfrom
spec:
  containers:
    - name: nginx
      image: nginx
      envFrom:
        - configMapRef:
            name: nginx-config
            